In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from datetime import datetime as dt

%matplotlib inline

In [2]:
df1 = pd.read_csv("/Users/stephan/Data_Science/Metis/Bootcamp/Data_project1/turnstile_190504.txt")
df2 = pd.read_csv("/Users/stephan/Data_Science/Metis/Bootcamp/Data_project1/turnstile_190511.txt")
df3 = pd.read_csv("/Users/stephan/Data_Science/Metis/Bootcamp/Data_project1/turnstile_190518.txt")
df4 = pd.read_csv("/Users/stephan/Data_Science/Metis/Bootcamp/Data_project1/turnstile_190525.txt")
raw_data = pd.concat([df1,df2,df3,df4])

We found that the `EXITS` column contains trailing spaces, so we get rid of those

In [3]:
raw_data.columns = raw_data.columns.str.rstrip()

Adding a Datetime column

In [4]:
raw_data["DATE_TIME"] = pd.to_datetime(raw_data.DATE + " " + raw_data.TIME, 
                                            format="%m/%d/%Y %H:%M:%S")

The data is organized by turnstile, but does not have a direct unique identifier for each turnstile. To create one we add the column `ID`, which concatenates into a unique turnstile ID.

In [5]:
raw_data["ID"] = raw_data['C/A']+raw_data['UNIT']+raw_data['SCP']+raw_data['STATION']

The data contains duplicates, so we deal with those next

In [6]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(raw_data
 .groupby(["ID", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(5)

                                     ID           DATE_TIME  ENTRIES
118612  G009R15102-00-04CONEY IS-STILLW 2019-05-16 17:00:00        2
118444  G009R15102-00-03CONEY IS-STILLW 2019-05-16 17:00:00        2
408244   N525R14201-00-03DELANCEY/ESSEX 2019-05-11 05:00:00        2
408415   N525R14201-00-04DELANCEY/ESSEX 2019-05-11 05:00:00        2
0                 A002R05102-00-0059 ST 2019-04-27 00:00:00        1

In [7]:
# Get rid of the duplicate entry
raw_data.sort_values(["ID", "DATE_TIME"], 
                          inplace=True, ascending=False)
raw_data.drop_duplicates(subset=["ID", "DATE_TIME"], inplace=True)

In our design phase we decided to give our recommendations to the client in the form of stations to canvas, so we will group our data by station. We also move towards daily entries and exits instead of per 4 hours.

The data given for `ENTRIES` and `EXITS` is cumulative, so aggregating by the first value for each day gives us the cumulative count at the start of each day. We then calculate the difference between days to get the daily numbers

In [8]:
data_by_station = raw_data.groupby(['STATION','ID','DATE'])['ENTRIES', 'EXITS'].first().diff()
data_by_station.reset_index()
data_by_station.dropna(subset=["ENTRIES","EXITS"], axis=0, inplace=True)

<ipython-input-8-e4c4f74c44e4>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_by_station = raw_data.groupby(['STATION','ID','DATE'])['ENTRIES', 'EXITS'].first().diff()

First analysis of the resulting data shows some problems
* negative values, indicating turnstile tickers that count down instead of up
* Very large values that indicate a reset of a ticker

We take the absolute values for the negative ticker data and set a limit for the maximum reasonable value of people going through a turnstile. Our limit is based on a max of 1 person per second, or 86400 a day. Anything higher than this number, we replace with 0.

In [9]:
def get_daily_counts_entries(row, max_counter):
    if row["ENTRIES"] < 0:
        # Maybe counter is reversed?
        row["ENTRIES"] = abs(row["ENTRIES"])
    if row["ENTRIES"] > max_counter:
        # Check it again to make sure we're not still giving a counter that's too big
        row["ENTRIES"] = 0
    return row["ENTRIES"]

data_by_station["ENTRIES"] = data_by_station.apply(get_daily_counts_entries, axis=1, max_counter=86400)

In [10]:
def get_daily_counts_exits(row, max_counter):
    if row["EXIT"] < 0:
        # Maybe counter is reversed?
        row["EXIT"] = abs(row["EXIT"])
    if row["ENTRIES"] > max_counter:
        # Check it again to make sure we're not still giving a counter that's too big
        row["EXIT"] = 0
    return row["EXIT"]

data_by_station["EXITS"] = data_by_station.apply(get_daily_counts_entries, axis=1, max_counter=86400)

In [11]:
data_by_station["TRAFFIC"] = data_by_station.ENTRIES + data_by_station.EXITS